*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-clr: #3f3047;
  --line-gr-bg-clr: linear-gradient(130deg, #5171a5, #3f3047)
}

/* google font family Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

header#header-section {
  width: 100%;
  background-color: var(--header-bg-clr);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #nav-bar {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    li > a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }

    li > a:hover {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

main#main-section {
  width: 100%;
  background: linear-gradient(130deg, #5171a5, #3f3047);
  #container-1 {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    #hero-heading-container {
      max-width: 650px;
      width: 80%;
      height: 80%;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      #hero-heading {
        text-transform: uppercase;
        color: #eee;
      }

      .hero-description {
        color: #bdb7b7;
      }

    }

    #hero-link-down-combo {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: flex-end;

      .link-place {
        padding: 1rem;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        a {
          text-decoration: none;
          color: #e0d9d9;
        }
      }

      .link-social {
        padding: 1rem;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        p {
          font-size: 1rem;
          text-align: center;
          margin: 0 0.5rem;
          color: #e0d9d9;
        }

        .social-link-container {
          display: flex;
          gap: 9px;
          a > img {
            width: 1rem;
            height: 1rem;
            display: block;
          }

          a > img:hover {
            display: unset; /* jumping animation */ 

          }

        }
      }

    }
  }


}

/* hero section */
#hero-section {
  width: 100%;
  height: 100vh;
  padding-top: 1rem;
  background-color: aliceblue;

  #container-2 {
    margin: 2.5rem auto;
    width: 90%;
    height: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding: 1.5rem 2rem;

    #section-content-description {
      .content-description {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        color: #464447;
        text-transform: capitalize;
      }
    }

    #hero-container {
      margin: 1rem auto;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;

      #hero-content-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 1px 5px 10px 1px #252525;
      }

      .hero-container-description {
        font-size: 1rem;
        text-align: left;
        color: #262527;
        line-height: clamp(1.5, 1.5, 2.5)
      }
    }
  }


}